.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.card {
  background: aquamarine;
  border-radius: 12px; /*角丸*/
  padding: 16px; /*内側の余白*/
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /*影*/
  width: 100%;
}

.button {
  background-color: aquamarine;
  border: none;
  padding: 10px;
}
